html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  font-family: 'Noto Sans', sans-serif;
}

.video {
  position: fixed; right: 0; bottom: 0; top:0;
  min-width: 100%; min-height: 60%;
  width: auto; height: auto; z-index: -100;
  background-size: cover;
  z-index: 10;
}
.invisible-layer {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.nest-logo{
  position: absolute;
  top: 0%;
  left: 0%;
  
  z-index: 20;
  
  background-color: #fff;
}
.nest-logo img{
  width: 90px;
}

.hud {
  position: fixed;
  top: 0;
  right: 0;
  
  height: 100%;
  width: 20%;
  z-index: 20;
}

.hud .top-title {
  height: 40px;
  padding-left: 20px;
  background-color: gray;
  color: white;
  padding-top: 20px;
}

.hud .top-gear {

}

.top-block {
  padding: 16px;
  box-sizing: border-box;
  background-color: rgba(255,255,255,0.2);
}

#info-block-1, #info-block-2, #info-block-3 {
  opacity: 0;
}

#info-block-1.fadein, #info-block-2.fadein,#info-block-3.fadein{
  opacity: 1;
}

.item-header {
  text-align: left;
  font-size: 16px;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
}
.item-1-para {
  text-align: left;
  font-size: 13px;

}

.homepage-bg {
  background: url(../assets/homepage-bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.zoom {
  position: fixed;
  z-index: 20;
  top: 10%;
  
}
.zoom ul{
  list-style-type: none;
  padding: 27px;
}
.zoom ul li {
  font-size: 24px;
  padding: 6px;
  background: #03abd2;
  color: #fff;
  width: 24px;
  height: 32px;
  border-radius: 12px;
  
}
.zoom .minus {
  top: -6px;
}
.action-button {
  background: #03abd2;
  color: #fff;
  border-radius: 6px;
  height: 30px;
  padding: 10px 8px 8px 8px;
  width: 80%;
  margin: 0 auto;
  bottom: 10%;
  position: absolute;
  left: 8%;
}







